#hero-section{
    background-color: rgb(10, 198, 136);
    color: black;
    padding-inline: 30px;
    padding-block: 30px;
    text-align: center;
    height: 850px;
}
#hero-heading{
    font-size: 70px;
    font-family:sans-serif;
}
#sub-para{
    width: 600px;
    margin-left: 350px;
}
button{
    border-radius: 50px;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: white;

}
#herobtn-1{
    border: none;
}
#herobtn-2{
    border: 1px solid white;
    border-color: green;
    margin-right: 310px;
}
#heroimg-1{
    height: 350px;
    width: 300px;
    border-radius: 10px;
}
#Hero-section2{
    display: flex;
    background-color: black;
    color: white;
    padding: 20px;
    height: 200px;
    width: 600px;
    font-family: sans-serif;
    border-radius: 20px;
    margin-left: 280px;
    gap: 8px;
}
#heroimg-2{
    height: 180px;
    width: 180px;
     object-fit: cover;
     border-radius: 5px;
}