.header-section {
    background-color: #D7F5DC;
    width: 100%;
    height: 600px;
}
 nav{
            display: flex;
            justify-content: space-between;
            margin-inline: 20px;
            align-items: center;
            padding-inline: 20px;
        }
        ul{
            display:flex;
            list-style: none;
            align-items: center;
            gap: 30px;
        }
#btn-1{
    border-radius: 10px;
    border-color: green;
    background-color: #D7F5DC;
    padding: 10px;
    color: black;
}
#btn-2{
    border-radius: 10px;
    color: white;
    background-color: green;
    padding: 10px;
}
.hadia{
    display: flex;
}
#img-1{
    width: 500px;
    height: 450px;
    margin-right: 100px;

}   
#btn-3{
      border-radius: 10px;
    color: white;
    background-color: green;
    padding: 10px;
}     
#logo{
    background-color: white;
    gap: 100px;
    height: 50px;
}