#hero-section{
    text-align: center;
}
#text{
    color: rgb(14, 102, 14);
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 40px;
}
.container-menu{
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card{
     background: white;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    border: 1px solid #e5e5e5;
}
.card-1{
    background-color: rgb(14, 102, 14);
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
}